.mtpi {
    background-color: var(--cor-fonte-principal);
    color: #fff;
}

.container_mtpi {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px;
}

.container_mtpi h2 {
    padding-top: 0;
}

.boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    gap: 30px;
    background-color: #E1FCFC;
    border-radius: 20px;
    border: 6px solid #D4F7FA;
}



.mtpi_significado {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 400px;
    height: 300px;
    background-image: url('../assets/maos-em-conexao-com-engrenagens.png');
    background-size: cover;
    border-radius: 20px;
}

.mtpi_descoberta {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 500px;
    height: 300px;
    background-image: url('../assets/pessoas-caminhando.png');
    background-size: cover;
    border-radius: 20px;
}

.box_title {
    display: flex;
    background-color: rgb(40, 61, 79, 0.9);
    border-radius: 0 0 20px 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 500px;
    height: 80px;
}

.box_title_ativa {
    background-color: rgb(236, 167, 44, 0.9);
    line-height: 1.6rem;
}

.mtpi_paragrafo {
    color: var(--cor-fonte-principal);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-size: 1rem;
    text-align: justify;
}

@media screen and (max-width: 1024px){
    .container_mtpi {
        align-items: center;
    }

    .boxes {
        flex-direction: row;
    }

    .box {
        flex-direction: column;
        justify-content: flex-end;
        padding: 30px;
        width: 350px;
    }

    .mtpi_significado {
        width: 100%;
        height: 300px;
    }

    .mtpi_descoberta {
        width: 100%;
        height: 300px;
    }

    .mtpi_paragrafo {
        font-size: 0.8rem;
        max-width: none;
    }

    .box_ativa {
        flex-direction: column-reverse;
    }

    .mtpi_paragrafo {
        max-width: 500px;
    }
}

@media screen and (max-width: 992px){
    .container_mtpi {
        max-width: none;
    }
    .boxes {
        flex-direction: column;
        width: 100%;
    }

    .box {
        width: 90%;
        margin: auto;
    }

    .box_title {
        width: 100%;
    }

    .mtpi_paragrafo {
        max-width: none;
    }
}

@media screen and (max-width: 768px){
    .box {
        width: 200px;
    }
}

@media screen and (max-width: 480px){
    .container_mtpi {
        padding: 40px 10px;
    }

    .box {
        width: 85%;
        justify-content: center;
        padding: 20px;
    }
}