@import url(reset.css);
@import url(formularios.css);
@import url(header.css);
@import url(banner.css);
@import url(caracteristicas.css);
@import url(solucoes.css);
@import url(diferencial.css);
@import url(sobre.css);
@import url(planos.css);
@import url(contato.css);
@import url(footer.css);

:root {
    --cor-fonte-principal: #2f495e;
    --cor-botao-login: #2f495e;
    --cor-plano-de-fundo: #F4F7FF;

}

html {
    font-size: 14px;
    scroll-behavior: smooth;
}

body {
    font-family: "Epilogue", sans-serif;
    color: var(--cor-fonte-principal);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--cor-plano-de-fundo);
    line-height: 1.6rem;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 2.5rem;
    line-height: 3.5rem;
    font-weight: 600;
}

input {
    font-family: 'Epilogue';
}

.mais {
    font-size: 1.5rem;
}


@media screen and (max-width: 1024px){

    h1 {
        font-size: 2rem;
        line-height: 2.5rem;
    }
}

@media screen and (max-width: 992px){
 
}


@media screen and (max-width: 768px){
    h1 {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}

@media screen and (max-width: 480px){
    h2 {
        font-size: 2rem;
        text-align: center;
        line-height: 2.5rem;
        font-weight: 600;
    }
}


